.books-introduction-section{
    min-height: 40vh;
    background-image: url(../assets/books-section-cta-two.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.book-card{

}

.book-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 15em;
}